@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root{
/* Primary */

--Softorange: hsl(35, 77%, 62%);
--Softred: hsl(5, 85%, 63%);

/* Neutral */

--Off-white: hsl(36, 100%, 99%);
--Grayishblue: hsl(233, 8%, 79%);
--Darkgrayishblue: hsl(236, 13%, 42%);
--Verydarkblue: hsl(240, 100%, 5%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    padding: 1rem;
}
ul{
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
nav button{
    background-image: url('./assets/images/icon-menu.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 0.6rem 1rem;
    border: none;
}
main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
h1{
    font-weight: 800;
}
#main-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--Verydarkblue);
}
#main-container button{
    width: 50%;
    padding: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    background-color: var(--Softred);
    border: none;
}
#main-container p,#bottom p:last-of-type{
    color: var(--Darkgrayishblue);
}
aside p{
    color: var(--Grayishblue);
}
aside{
    color: var(--Off-white);
    background-color: var(--Verydarkblue);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}
h2{
    font-size: 2rem;
    color: var(--Softorange);
}
article h3{
    margin: 0.7rem 0;
}
#bottom article{
    display: flex;
    gap: 1.5rem;
    margin: 1rem 0;
    align-items: center;
}
article div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#bottom img{
    width: 30%;
}
.number{
    font-size: 2rem;
    font-weight: 700;
    color: var(--Softred);
}
strong{
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--Verydarkblue);
}